---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2020-2022",
    title: "Alcaldia de cartagena",
    company: "Pes pedro romero",
    description:
      "Gestión de base de datos y software, ademas de ayudar en sistemas informaticos  ",
    link: "https://www.cartagena.gov.co/node/65",
  },
  {
    date: "Actualmente...",
    title: "Principal Frontend ",
    company: "Propio",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
